# kind/kind-config.yaml
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4

networking:
  ipFamily: IPv4
  disableDefaultCNI: false

kubeadmConfigPatches:
  - |
    kind: ClusterConfiguration
    networking:
      ipFamily: IPv4
    apiServer:
      extraArgs:
        service-node-port-range: "1-65535"

nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 80
        hostPort: 8080
        protocol: TCP
      - containerPort: 443
        hostPort: 8443
        protocol: TCP
  - role: worker
  - role: worker
